@import 'src/assets/styles/variables';

.board {
	width: calc(64px * 8);
	height: calc(64px * 8);
	display: flex;
	flex-wrap: wrap;
}

.cell {
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;

	> .figure {
		position: relative;
	}

	&.black {
		background-color: $black;
	}

	&.white {
		background-color: $white;
	}
}
