@import 'src/assets/styles/variables';

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.board {
	width: calc(64px * 8);
	height: calc(64px * 8);
	display: flex;
	flex-wrap: wrap;

	outline: 7px solid #ffe09e;
	border-radius: 7px;
	box-shadow: 0 0 5px 5px #3b3b3b;
}

.cell {
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;

	> .figure {
		position: relative;
		user-select: none;
	}

	&.black {
		background-color: $black;
	}

	&.white {
		background-color: $white;
	}

	&.selected {
		background-color: #922323;
	}
}

.available {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: #22c022;
}

.player {
	margin: 20px 0;
	color: $white;
	> .black {
		color: #797979;
		font-size: bold;
		text-transform: uppercase;
	}
	> .white {
		color: #e9e9e9;
		font-size: bold;
		text-transform: uppercase;
	}
}
