@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

$accent: #2f2f2f;
$dark-accent: darken($accent, 20%);
$hard-dark-accent: darken($accent, 30%);

$white: #e8c48b;
$black: #a9701b;

$bx-accent: 0 4px 4px rgba($accent, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

$default-font: 'Sofia Sans', sans-serif;

$mobile: 480px;
