@import './variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $default-font;
	letter-spacing: 0.5px;

	-weblit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	&:before,
	&:after {
		box-sizing: border-box;
		-weblit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	&:focus {
		outline: none;
	}
}

*::-webkit-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}
*:-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*::-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

html,
body {
	height: 100%;
}

body {
	background-color: $accent;
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 20px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

#__next {
	height: 100%;
}

.wrapper-inner-page {
	padding: 40px 30px;
	text-align: center;
	max-width: 560px;
	width: 100%;
	margin: 0 auto;
}

/*Chrome, Safari, Edge, Opera*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/*Firefox*/
input[type='number'] {
	-moz-appearance: textfield;
}